* {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
