* {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

#main-header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png)
}

h1 {
  font-size: 70px;
  color: white;
}

li {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
